server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      data-source-properties:
        preferQueryMode: simple
      maximum-pool-size: 5
      minimum-idle: 1
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

    # =========================
    # JPA / HIBERNATE
    # =========================
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      database-platform: org.hibernate.dialect.PostgreSQLDialect

    sql:
      init:
        mode: never

  data:
    redis:
      repositories:
        enabled: false



app:
  qr:
    secret: ${APP_QR_SECRET:"TnsLD53NKeFsHhZ73ojREN9XLT8dIuuvmeSh/f3FU2KF7q4m11nf/PJivEuplO9U4tZDUW0JPPByW2VHOU2HMQ=="}
    token_ttl_seconds: 600   # QR token TTL (seconds) e.g. 10 minutes
  session:
    secret: ${APP_SESSION_SECRET:dev-session-secret-32-bytes-long}
    ttl-seconds: 21600       # session TTL for Redis
    token-ttl-seconds: 1800  # session JWT lifetime (seconds)

jwt:
  public-key: ${JWT_PUBLIC_KEY}
  private-key: ${JWT_PRIVATE_KEY}
