server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:

        # ---------- AUTH SERVICE ----------
        - id: auth-public
          uri: http://auth-service:8083
          predicates:
            - Path=/auth/**,/session/**,/health

        # ---------- ADMIN / OWNER (JWT REQUIRED) ----------
        - id: admin-protected
          uri: http://auth-service:8083
          predicates:
            - Path=/admin/**
          filters:
            - JwtAuth

        # ---------- MENU ----------
        - id: menu-service
          uri: http://menu-service:8085
          predicates:
            - Path=/menu/**

        # ---------- CART ----------
        - id: cart-service
          uri: http://cart-service:8086
          predicates:
            - Path=/cart/**

        # ---------- ORDER ----------
        - id: order-service
          uri: http://order-service:8087
          predicates:
            - Path=/order/**

jwt:
  issuer: festora-auth
  audience: festora-internal
  access-token-ttl-minutes: 15

  public-key: |
    -----BEGIN PUBLIC KEY-----
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAv7XcyPyxL/Lyj+5m2nW8
    9FUtT/4NMyAos+Qr360UQGlXF+bR0gXErDo/6CNCnMZyfqbeE4Z2dfoyekRBwBS3
    mHsQGSgXphJnJlVewj6nniWxwIsaSgFxizryLGW7QlRno5F3slgDy+/3VJYruCDR
    7aZgPMVTcG6drhXOdD+zarHns3+9X3CzWD5eu4b9pQOv/J/VqyRjJ2JOSy9jqtJk
    Q2hF/cs2zGjCIJwclEL8q9CiBQyAgxuTk8wb0SHcbPgcV7NRhY6q4G5wpwGxZgqR
    yhUtS/SxoeFLkuLUf0gVryhklIJM3yEP4UzTj3hyI+dwJpJm3150eyMI1zFyokJ+
    swIDAQAB
    -----END PUBLIC KEY-----
