server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:

        - id: auth-service
          uri: http://localhost:8088
          predicates:
            - Path=/auth/**

        - id: cart-service
          uri: http://localhost:8087
          predicates:
            - Path=/cart/**
          filters:
            - StripPrefix=1

        - id: order-service
          uri: http://localhost:8089
          predicates:
            - Path=/orders/**
          filters:
            - StripPrefix=1
