server:
  port: 8090

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: inventory-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  application:
    name: inventory-service

  datasource:
    url: jdbc:postgresql://db.jryaafvfzhnksekujawl.supabase.co:5432/postgres
    username: postgres
    password: BvH4F3L3tjSWnbFM
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate   # use update only for dev
    show-sql: true
    properties:
      hibernate:
        format_sql: true